<!DOCTYPE html>
<title> myBookingApp</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
    <div class="myWrapper">
        <div class="myNaviBar">
            <div class="container">
              <div>
                <p style="text-align: center;"><b> Please use this to view Hot Deals </b></p>
                </div>
                <img src="assets/whitePic.png"  class="image">
                <div class="overlay">
                  <a href="https://www.tsogosun.com/garden-court-eastgate?chebs=gl-hotel_garden-court-eastgate&utm_
                  source=google&utm_medium=businesslisting&utm_campaign=hotel_garden-court-eastgate"><div class="text">Garden Court Eastgate</div></a>
                </div>
              </div>

              <div class="container">
                  <img src="assets/whitePic.png"  class="image">
                  <div class="overlay">
                    <a href="https://www.dunveganexeculodge.co.za/"><div class="text">Dunvegan Executive Lodge</div></a>
                  </div>
                </div>

                <div class="container">
                    <img src="assets/whitePic.png"  class="image">
                    <div class="overlay">
                     <a href="http://www.thabahotel.co.za/"> <div class="text">Thaba Eco Hotel</div></a>
                    </div>
                  </div>

                  <div class="container">
                      <img src="assets/whitePic.png"  class="image">
                      <div class="overlay">
                       <a href="https://www.fourseasons.com/johannesburg/"> <div class="text">Four Seasons Hotel The Westcliff</div></a>
                      </div>
                    </div>

                    <div class="container">
                        <img src="assets/whitePic.png"  class="image">
                        <div class="overlay">
                         <a href="http://reefhotel.co.za/"> <div class="text">Reef Hotel</div></a>
                        </div>
                      </div>

                      <div class="container">
                          <img src="assets/whitePic.png"  class="image">
                          <div class="overlay">
                            <a href="http://protea.marriott.com/"><div class="text">Protea Hotel</div></a>
                          </div>
                        </div>

                        <div class="container">
                            <img src="assets/whitePic.png"  class="image">
                            <div class="overlay">
                             <a href="https://www.tsogosun.com/garden-court-milpark?chebs=gl-hotel_garden-court-milpark&utm_
                             source=google&utm_medium=businesslisting&utm_campaign=hotel_garden-court-milpark"> <div class="text">Garden Court Milpark</div> </a>
                            </div>
                          </div>

                          <div class="container">
                              <img src="assets/whitePic.png"  class="image">
                              <div class="overlay">
                               <a href="https://www.tsogosun.com/gold-reef-city-theme-park-hotel?chebs=gl-hotel_gold-reef-city-theme-park-hotel&utm_
                               source=google&utm_medium=businesslisting&utm_campaign=hotel_gold-reef-city-theme-park-hotel"> <div class="text">Gold Reef City Theme Park Hotel</div></a>
                              </div>
                            </div>

                            <div class="container">
                                <img src="assets/whitePic.png"  class="image">
                                <div class="overlay">
                                <a href="http://www.orionhotels.co.za/">  <div class="text">Orion Hotels</div> </a>
                                </div>
                              </div>
         </div>
      </div>