<!DOCTYPE html>
<title> myBookingApp</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
    <div class="myWrapper">
        <div class="myNaviBar">
            <div class="container">
              <div>
                <p style="text-align: center;"><b> Please use this to get Additional services </b></p>
                </div>
                <img src="assets/whitePic.png"  class="image">
                <div class="overlay">
                 <a href="https://www.avis.co.za/drive-avis/car-hire-locations/south-africa/gauteng#"> <div class="text">Rent A Car</div> </a> 
                </div>
              </div>

              <div class="container">
                  <img src="assets/whitePic.png"  class="image">
                  <div class="overlay">
                    <a href="https://www.flymango.com/en/car/booking?gclid=
                    EAIaIQobChMI_o3K56io2wIV55XtCh0ghQ1MEAAYAiAAEgKsOPD_BwE"><div class="text">View flights</div></a>
                  </div>
                </div>

                <div class="container">
                    <img src="assets/whitePic.png"  class="image">
                    <div class="overlay">
                      <a href="https://www.citysightseeing.co.za/johannesburg/products/johannesburg-open-
                      top-bus-tours?gclid=EAIaIQobChMI4NmGiqmo2wIVzbHtCh27uwhBEAAYBCAAEgJdI_D_BwE"><div class="text">Tourism attraction</div></a>
                    </div>
                  </div>

                  <div class="container">
                      <img src="assets/whitePic.png"  class="image">
                      <div class="overlay">
                        <a href="http://www.joburgtourism.com/tourist-information/essentials/emergency-numbers"><div class="text">Emergency Places</div></a>
                      </div>
                    </div>

                    <div class="container">
                        <img src="assets/whitePic.png"  class="image">
                        <div class="overlay">
                          <a href="https://www.gauteng.net/pages/sports_and_outdoor_events"><div class="text">Sports Facilities</div></a>
                        </div>
                      </div>

                      <div class="container">
                          <img src="assets/whitePic.png"  class="image">
                          <div class="overlay">
                           <a href="http://www.jhbcityparks.com/"> <div class="text">Parks and Recreation</div></a>
                          </div>
                        </div>

                        <div class="container">
                            <img src="assets/whitePic.png"  class="image">
                            <div class="overlay">
                             <a href="https://www.tripadvisor.co.za/Attractions-g312578-Activities-
                             c61-t220-Johannesburg_Greater_Johannesburg_Gauteng.html"> <div class="text">Wildlife</div> </a>
                            </div>
                          </div>

                          <div class="container">
                              <img src="assets/whitePic.png"  class="image">
                              <div class="overlay">
                                <a href="https://www.inyourpocket.com/johannesburg/Nightlife"><div class="text">Night Life</div></a>
                              </div>
                            </div>

                            <div class="container">
                                <img src="assets/whitePic.png"  class="image">
                                <div class="overlay">
                                 <a href="https://www.joburg.co.za/dont-miss-upcoming-big-concerts/"> <div class="text">Concerts and Perfomances</div></a>
                                </div>
                              </div>
         </div>
      </div>