<title> This is myCVProject</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="myWrapper">
<header>
      <h1>Matuku Meshack Hlapolosa
      </h1>
  </header>

  <body>
    <div class = "myContainer">
          <div class="w3-container">
              <p> <img src="assets/meshImage.png" alt="meshImage"> </p>
              <p>
              <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-white w3-border w3-border-teal w3-round-large"> myPersonal Details</button></p>
            
              <div id="id01" class="w3-modal">
                <div class="w3-modal-content">
                  <div class="w3-container">
                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <p>Hello ! Welcome to my Curriculum Vitae, this document shall serve as proof of the Details
                      in regards to all my employment details. Please note that this documents is copyright reserved
                      and all the contents of it are protected.
                    </p>

                    <p>My full birth name is <b>Matuku Meshack Hlapolosa</b> (commonly known as Mesh), and i was 
                      provided by the <b>9308045438080</b> Identity Number
                      to state that i am a South African citizen. I do currently reside in <b>438/9 Zone 6 Extension 1 
                      Sebokeng</b> in the Vaal Area.
                      </p>

                      <p>I was born on the <b>4th of August 1993</b>. At the current time of this curriculum vitae i am <b>25 years</b> old at age
                        i am still <b>student</b> and also doing Developer Trainership with Mlab (Innovation Hub). I am in a possesion of a <b>code 10 drivers license
                        with a valid PrDP</b>.
                        </p>
                    
                  </div>
                </div>
              </div>

              <p>
                  <button onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-white w3-border w3-border-teal w3-round-large"> myContact Details</button></p>
                
                  <div id="id02" class="w3-modal">
                    <div class="w3-modal-content">
                      <div class="w3-container">
                        <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                        <p>Hello ... The following list will give you all about myContact details.
                        </p>
    
                        <p>Please note that i can be contacted at the mobile number: <br/><b>071 224 9926</b>
                          </p>

                          <p>Please note that i can be contacted at this email address: <br/><b>meshackhlapolosa@gmail.com </b>
                          </p>

                          <p>Please note that i can be contacted at my facebook handle: <br/><b>meshack hlapolosa (Thabang) </b>
                            </p>

                            <p>Please note that i can be contacted at my twitter handle: <br/><b>meshack hlapolosa </b>
                            </p>

                            <p>Please note that i can be contacted at my linkedIn handle: <br/><b>meshack hlapolosa </b>
                            </p>

                            <p>Please note that i can be contacted at my google+ handle: <br/><b>meshack hlapolosa </b>
                            </p>
                        
                      </div>
                    </div>
                  </div>
                  
                  <p>
                      <button onclick="document.getElementById('id03').style.display='block'" class="w3-button w3-white w3-border w3-border-teal w3-round-large"> myEducation Details</button></p>
                    
                      <div id="id03" class="w3-modal">
                        <div class="w3-modal-content">
                          <div class="w3-container">
                            <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <p><b>Hello... This will give you all the details about my myEducation background.</b>
                            </p>
        
                            <p><b>This is myEducation High School Back Ground.</b>
                              </p>

                              <p>
                                The name of the High School i graduated from is <b>Jordan Secondary School</b>, the school of learning and teaching
                                is situated near the outskirts in the south region of Gauteng called <b>Evaton</b>(Tivas as known). <b>The following are 
                                subjects that i have passed :</b>
                                </p>

                                <p>
                                  Sesotho Home Language (HL)</p>

                                  <p>
                                    English First Additional Language (FAL)</p>

                                    <p>
                                      Physical Sciences</p>

                                      <p>
                                        Life Sciences</p>

                                        <p>
                                         Economics </p>

                                          <p>
                                            Life orientation</p>

                                            <p>
                                                Few years later after i have graduated from Jordan Secondary School, I decided to pursue education again with a vast interest in Information Technology.
                                                I enrolled at Sedibeng TVET College for an NCV certificate in Information Technology. <b>The one year duration that i have spent there i have managed to complete
                                                the following subject:</b>
                                                </p>
                
                                                <p>
                                                  Introduction to systems Development</p>
                
                                                  <p>
                                                    Introduction to Information Systems</p>
                
                                                    <p>
                                                      Entrepreneurship</p>
                
                                                      <p>
                                                        Electronics</p>
                
                                                        <p>
                                                         English (First Additional Language) </p>
                
                                                          <p>
                                                            Life orientation</p>
                                                            <p>
                                                                After a year spent learning and developing at Sedibeng TVET college, i decided to enrol at the University of South africa for a National Diploma in Information 
                                                                Technology. I am still proceeding with my course and the end date of the whole course is set at November 2018. I have come across challeneges that 
                                                                are helpful and has enhanced my skill of Information technology.
                                                                </p>
                            
                          </div>
                        </div>
                      </div>

                      <p>
                          <button onclick="document.getElementById('id04').style.display='block'" class="w3-button w3-white w3-border w3-border-teal w3-round-large"> myExperience Details</button></p>
                        
                          <div id="id04" class="w3-modal">
                            <div class="w3-modal-content">
                              <div class="w3-container">
                                <span onclick="document.getElementById('id04').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                <p><b>Hello... The following will enlighten you about my previous work experiences.</b>
                                </p>

                                <p>I have worked at one of the biggest Debt Collection company called <b>Vericred collection</b> situated in <b>Potchefstroom in the North West </b>, i was deployed under the <b>Africred Campaign</b> as a <b>service Consultant</b>
                                  and a <b>debt </b>collector. I had several functional objectives that i have to circumvent on a monthly basis and i have executed my duties dearly so until i terminated my contract due to Academic
                                  Reasons.<b> The overall overview of my stay at Vericred Collections was : November 2015 - May 2016</b>.
                                  </p>
            
                                <p>
                                  Few months after i have managed to deal with the challenged at the time i decided to seek employment again so that i can be exposed to information technology
                                  functionalities, Infrastructures and systems, i was hired at at Company called <b>NBS BPO </b>situated at <b>Randburg, Johannesburg </b>. I was offered a position as a <b>service 
                                  Consultant and a debt collector. The overall overview of my stay at Vericred Collections was : August 2016 - June 2017</b>
                                  </p>

                                  <p>
                                      The next employement i recieved was at <b>Webhelp South africa in Parktown Johannesburg</b> and i was deployed under the <b>Shop Direct Campaign as a service Consultant</b>. The experience that was attained
                                      from the company was really helpful because i was exposed to various systems that are used in big companies and i have learnt a lot form the time i spent at the company. 
                                      <b>The overall overview of my stay at Vericred Collections was : November 2015 - May 2016</b>
                                      
                                      </p>
                                
                              </div>
                            </div>
                          </div>

                          <p>
                              <button onclick="document.getElementById('id05').style.display='block'" class="w3-button w3-white w3-border w3-border-teal w3-round-large"> myAttribute Details</button></p>
                            
                              <div id="id05" class="w3-modal">
                                <div class="w3-modal-content">
                                  <div class="w3-container">
                                    <span onclick="document.getElementById('id05').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                    <p><b>Hello.. The following section of this document will enlighten you about the attributes, characteristics and skills that i posses.</b>
                                    </p>
                
                                    <p> <b>This outlines the attributes.</b>
                                      </p>

                                      <p>A sense of purpose and the ability to apply time management
                                        </p>

                                        <p>The ability to function independently
                                          </p>

                                          <p>The ability to use word-processing and other programs
                                            </p>

                                            <p>The ability to function within a team, follow senior leadership and pursue corporateobjectives
                                              </p>

                                              <p>The ability to build good relationships and work together with various role players
                                                </p>

                                                <p>A willingness to provide after-hours services according to a departmental timetable
                                                  </p>

                                                  <p>Neatness with respect to own person and work
                                                    </p>

                                                    <p>The ability to be self-disciplined and reliable and portray a positive image
                                                      </p>

                                                      <p>Computer literacy in MS Office (Word and Excel), as well as email and internet
                                                        </p>
                                    
                                  </div>
                                </div>
                              </div>

                              <p>
                                  <button onclick="document.getElementById('id06').style.display='block'" class="w3-button w3-white w3-border w3-border-teal w3-round-large"> myReference Details</button></p>
                                
                                  <div id="id06" class="w3-modal">
                                    <div class="w3-modal-content">
                                      <div class="w3-container">
                                        <span onclick="document.getElementById('id06').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                        <p>Hello.. The following will provide an overview of the references that correlate with information
                                          provided above. Please note that all given contact details given were valid at the current time of the 
                                          development of this document.
                                        </p>
                    
                                        <p><b>1) Mr M.R Makoe (Lecturer Sedibeng College)</b>
                                          </p>

                                            <p>
                                              <a href="https://www.google.com/maps/place/Sedibeng+TVET+College/@-26.6787815,27.9271962,
                                              16z/data=!4m12!1m6!3m5!1s0x1e9459a77f8102e3:0x2ac83d31e146fb58!2sVaal+University+of+Technology+(VUT)
                                              !8m2!3d-26.710505!4d27.862479!3m4!1s0x1e94f7de808791bb:0xa662355271c64c56!8m2!3d-26.679843!4d27.9318058">  33 Voortrekker Street, Vereeniging 1930</a>
                                              </p>

                                              <p>
                                                  Contact number : 0736332931
                                                </p>

                                                <p>
                                                    (Lecturer/ Mentor)
                                                  </p>

                                                  <p><b>2) Mr M. Boysa Branch Manager VeriCred Credit Bureau</b>
                                                  </p>
        
                                                    <p>
                                                      <a href="https://www.google.com/maps/place/10+Clark+St,+Potchefstroom,+2520/@-26.7116701,
                                                      27.1007837,18.5z/data=!4m5!3m4!1s0x1e9681233e04129b:0x83db508d7a494c00!8m2!3d-26.70885!4d27.09887">  10 Clark Street, Potchefstroom 2531</a>
                                                      </p>
        
                                                      <p>
                                                          Contact Number: 0182933671 or 0849292853
                                                        </p>
        
                                                        <p>
                                                            (Former manager)
                                                          </p>

                                                          <p><b>3) Mr V.J Sithole (Candidate Attorney in FamilyLaw)</b>
                                                          </p>
                
                                                            <p>
                                                              <a href="https://www.google.com/maps/place/1+Bond+St,+Kensington+B,+Randburg,+2194/@-26.08556,28.0022913,17z/data=!4m13!1m7!3m6!1s0x1e95748
                                                              fae48c113:0xae60d367c824c52f!2s1+Bond+St,+Kensington+B,+Randburg,+2194!3b1!8m2!3d-26.08556!4d28.00448!3m4!1s0x1e95748fae48c113:0xae60d367c8
                                                              24c52f!8m2!3d-26.08556!4d28.00448">  1 Bond Street, Ferndale, Randburg</a>
                                                              </p>
                
                                                              <p>
                                                                  Contact Number: 0659578417
                                                                </p>
                
                                                                <p>
                                                                    (Former Team Leader)
                                                                  </p>

                                                                  <p><b>4) Mr T. Masela (Lead Business Trainer Webhelp)</b>
                                                                  </p>
                        
                                                                    <p>
                                                                      <a href="https://www.google.com/maps/place/33+Princess+of+Wales+Terrace,+Parktown,+Johannesburg,+2193/@-26.1774999
                                                                      ,28.0453013,17z/data=!3m1!4b1!4m5!3m4!1s0x1e950c3f49fbf627:0x6ade51a954d960b0!8m2!3d-26.1774999!4d28.04749">  
                                                                      33 Princess of Wales Terrace, Parktown Johannesburg</a>
                                                                      </p>
                        
                                                                      <p>
                                                                          Contact Number: 0813888744
                                                                        </p>
                        
                                                                        <p>
                                                                            (Trainer/ Customer Service Guide)
                                                                          </p>

                                                  
        
                                                      
                                                          

                                                          
                                        
                                      </div>
                                    </div>
                      
                                 </div>
                      
        </div>
        
    </div>

    <div class= "myContactContainer">
        <p> 
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-google"></a>
        </p>
        </div>
  
      <div class = "footer">
        <marquee> <b>&copy; This curriculum Vitae is a reserved right of Meshack Hlapolosa</b></marquee>
        </div>

      
  </body>
</div>