<title>My Budget App</title>

<body>
  <div id="clAppContainer">
  <header>
      <h1> Hello ! Welcome to BudgetApp !</h1>
  </header>
  
    <table class="clTable">
        <tr>
          <td> <p> MyExpenses.</p>
          </td>
          <td> <p> MyAmount.</p>
          </td>

          <td> <p> <img src="assets/image1x.png" alt="myExpenses" style = "width: 135px; height: 70px;"></p>
          </td>
        </tr>

        <tr>
            <td> myTransportFees
            </td>
            <td> It depends on which type of transport i use but around R1000.
            </td>
            <td> <p> <img src="assets/image4.png" alt="myExpenses" style = "width: 135px; height: 70px;"></p>
            </td>
          </tr>

          <tr>
              <td> myFoodieFees
              </td>
              <td> Because i spend most of my time on the road, i get to spend around R300 on food.
              </td>
              <td> <p> <img src="assets/images.png" alt="myExpenses" style = "width: 135px; height: 70px;"></p>
              </td>
            </tr>

            <tr>
                <td> myAirtimeFees
                </td>
                <td> Because Social bundles have become umsindisi wethu ! we can now atleast save
                  so i will spend around R100.
                </td>
                <td> <p> <img src="assets/image1x.png" alt="myExpenses" style = "width: 135px; height: 70px;"></p>
                </td>
              </tr>

              <tr>
                  <td> myNeeds!
                  </td>
                  <td> The remaining amount of money would go to my needs! Yeah lets make it R600. I hope the zeros add though !
                  </td>
                  <td> <p> <img src="assets/needsImage.png" alt="myExpenses" style = "width: 135px; height: 70px;"></p>
                  </td>
                </tr>
    </table>
    <form>
      <fieldset>  
        <legend>Please edit all your expenses here ! </legend>
        <p>
        <label style = "float:left">Please enter myTransportFees </label>
        <input type = "text" id = "idTransFees" name = "nmeTransFees"  style = "margin-left: 350px;" > 
        </p>

        <p>
            <label style = "float:left">Please enter myFoodieFees </label>
            <input type = "text" id = "idTransFees" name = "nmeTransFees" style = "margin-left: 350px;"> 
        </p>

            <p>
                <label style = "float:left">Please enter myAirtimeFees </label>
                <input type = "text" id = "idTransFees" name = "nmeTransFees" style = "margin-left: 350px;"> 
            </p>

                <p>
                    <label style = "float:left">Please enter myNeeds </label>
                    <input type = "text" id = "idTransFees" name = "nmeTransFees" style = "margin-left: 350px;"> 
                </p>

                <p>
                    <input type = "submit" id = "idSubmitBtn" name = "nmeSubmitBtn" value = "Edit Expenses" style = "margin-left: 420px;"> 
                </p>
      </fieldset>
    </form>
  </div>
</body>
