<div class="formWrapper">
    <div class="container">
        <p>
            <img src="assets/image4.png" alt="Login logo" class="myLoginLogo">
          </p>
          <input class="w3-input w3-animate-input" type="text" placeholder="please enter your email" style="width:135px"><br>
          <input class="w3-input w3-border w3-animate-input" type="text" placeholder="please enter your email" style="width:30%">
  
        <button type="submit" class="btn">Login here...</button>
        
            <a href="" style="font-size: 22px; margin-left: 240px; color: aqua; 
            font-weight: bolder;opacity: 0.4 ">Forgot Password</a>
          
        <a href="" style="font-size: 22px; margin-left: 260px; color: aqua; 
        font-weight: bolder; opacity: 0.4; ">Sign Up Here</a>
      </div>
  </div>