<div class="container">
    <div>
      <p style="text-align: center;"><b> Please use this to get Additional services </b></p>
      </div>
      <img src="assets/whitePic.png"  class="image">
      <div class="overlay">
       <a href="#"> <div class="text">Charts Music</div> </a> 
      </div>
    </div>

    <div class="container">
        <img src="assets/whitePic.png"  class="image">
        <div class="overlay">
          <a href="https://www.flymango.com/en/car/booking?gclid=
          EAIaIQobChMI_o3K56io2wIV55XtCh0ghQ1MEAAYAiAAEgKsOPD_BwE"><div class="text">View flights</div></a>
        </div>
      </div>

      <div class="container">
          <img src="assets/whitePic.png"  class="image">
          <div class="overlay">
            <a href="https://www.citysightseeing.co.za/johannesburg/products/johannesburg-open-
            top-bus-tours?gclid=EAIaIQobChMI4NmGiqmo2wIVzbHtCh27uwhBEAAYBCAAEgJdI_D_BwE"><div class="text">Tourism attraction</div></a>
          </div>
        </div>

        <div class="container">
            <img src="assets/whitePic.png"  class="image">
            <div class="overlay">
              <a href="http://www.joburgtourism.com/tourist-information/essentials/emergency-numbers"><div class="text">Emergency Places</div></a>
            </div>
          </div>

          <div class="container">
              <img src="assets/whitePic.png"  class="image">
              <div class="overlay">
                <a href="https://www.gauteng.net/pages/sports_and_outdoor_events"><div class="text">Sports Facilities</div></a>
              </div>
            </div>

            <div class="container">
                <img src="assets/whitePic.png"  class="image">
                <div class="overlay">
                 <a href="http://www.jhbcityparks.com/"> <div class="text">Parks and Recreation</div></a>
                </div>
              </div>

              <div class="container">
                  <img src="assets/whitePic.png"  class="image">
                  <div class="overlay">
                   <a href="https://www.tripadvisor.co.za/Attractions-g312578-Activities-
                   c61-t220-Johannesburg_Greater_Johannesburg_Gauteng.html"> <div class="text">Wildlife</div> </a>
                  </div>
                </div>

                <div class="container">
                    <img src="assets/whitePic.png"  class="image">
                    <div class="overlay">
                      <a href="https://www.inyourpocket.com/johannesburg/Nightlife"><div class="text">Night Life</div></a>
                    </div>
                  </div>

                  <div class="container">
                      <img src="assets/whitePic.png"  class="image">
                      <div class="overlay">
                       <a href="https://www.joburg.co.za/dont-miss-upcoming-big-concerts/"> <div class="text">Concerts and Perfomances</div></a>
                      </div>
                    </div>
